<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" >
        </service>
        <service
            android:name="com.tencent.tbs.one.optional.TBSOneStandaloneService"
            android:process=":standalone" />
        <activity android:name=".X5WebviewActivity"/>
    </application>
</manifest>
